@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap"); */

:root {
    --bg: #ffc3a1;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--bg);
    font-family: "Jua", sans-serif;
    font-style: normal;
    overflow: hidden;
}

.landing-main {
    height: 100vh;
    width: 100vw;
    background: url("./assets/landing.png") no-repeat center center/cover;
}

.door {
    height: 52vh;
    width: 20vw;
    background: url("./assets/door.png") no-repeat center center/contain;
    position: absolute;
    bottom: 21%;
    left: 39%;
}

.enter-btn {
    height: 10vh;
    width: 20vw;
    background: url("./assets/Enter_btn.png") no-repeat center center/contain;
    position: absolute !important;
    bottom: 10%;
    left: 40%;
    cursor: pointer;
}

.background {
    height: 100vh;
    width: 100vw;
    background: url("./assets/bg.png") no-repeat center center/cover;
    position: absolute;
    z-index: -1;
}

.nav {
    position: absolute;
    top: 2%;
    right: 1%;
    display: flex;
}

.icons {
    height: 5vh;
    width: 6vw;
    cursor: pointer;
}

.fav {
    background: url("./assets/fav-icon.png") no-repeat center center/contain;
}

.settings {
    height: 4.5vh;
    background: url("./assets/settings-icon.png") no-repeat center center/contain;
}

.profile {
    background: url("./assets/profile-icon.png") no-repeat center center/contain;
}

.booksy-logo {
    height: 7vh;
    width: 8vw;
    background: transparent;
    position: absolute;
    top: 2.5%;
    left: 3%;
    cursor: pointer;
}

.create-new {
    height: 60vh;
    width: 14vw;
    background: url("./assets/create_new.png") no-repeat center center/contain;
    position: absolute;
    top: 30%;
    left: 35%;
    cursor: pointer;
}

.create-new {
    height: 60vh;
    width: 14vw;
    background: url("./assets/create_new.png") no-repeat center center/contain;
    position: absolute;
    top: 30%;
    left: 35%;
    cursor: pointer;
}

.adventure-book {
    background: url("./assets/Adventure_Book.png") no-repeat center center/contain;
}

.fantasy-book {
    background: url("./assets/Fantasy_Book.png") no-repeat center center/contain;
}

.mystery-book {
    background: url("./assets/Mystery_Book.png") no-repeat center center/contain;
}

.select {
    height: 60vh;
    width: 11vw;
    cursor: pointer;
}

.list-title {
    font-size: 1.3vw;
    text-align: center;
    transform: rotate(90deg) translateX(120%);
}

.all-books {
    position: absolute;
    width: 100vw;
    height: 70vh;
    top: 25%;
    left: 47%;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    justify-content: start;
    align-items: center;
}

.waving-mouse {
    height: 40vh;
    width: 18vw;
    background: url("./assets/mouse_waving.png") no-repeat center center/contain;
    position: absolute;
    bottom: 0%;
    left: 1%;
}

.mouse-message {
    height: 20vh;
    width: 20vw;
    background: url("./assets/message.png") no-repeat center center/contain;
    position: absolute;
    bottom: 38%;
    left: 2%;
}

.modal {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal-content {
    height: 30vh;
    width: 60vw;
    background-color: var(--bg);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: relative;
}

.close {
    position: absolute;
    font-size: 3vw;
    top: 1.5%;
    right: 2.5%;
    cursor: pointer;
    margin-top: -6px;
}

.modal-content h2 {
    font-size: 3vw;
    text-align: center;
}

.buttons-list {
    display: flex;
    justify-content: center;
}

.button {
    height: 8vh;
    width: 16vw;
    cursor: pointer;
}

.adv-btn {
    background: url("./assets/Adventure_btn.png") no-repeat center center/contain;
}

.fan-btn {
    background: url("./assets/Fantasy_btn.png") no-repeat center center/contain;
}

.mys-btn {
    background: url("./assets/Mystery_btn.png") no-repeat center center/contain;
}

.book-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./assets/book_bg.png") no-repeat center center/cover;
}

.flip-book {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}

.loading {
    font-size: 4vw;
}

.speaking-mouse {
    height: 15vw;
    width: 15vw;
    background: url("./assets/speaking_mouse.gif") no-repeat center center/contain;
    position: absolute;
    transform: rotate(-10deg);
    top: 10%;
    left: 3%;
}

.page {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.page .text {
    font-size: 2vw;
    padding: 1.6vw;
}

.page .image {
    height: 28vw;
    width: 16vw;
    padding: 2vw;
    border-radius: 10px;
}

.page:nth-child(2n) {
    background: url("./assets/right_book_page.png") no-repeat center center/cover;
}

.page:nth-child(2n + 1) {
    background: url("./assets/left_book_page.png") no-repeat center center/cover;
}

.flip-button {
    height: 6vh;
    width: 10vw;
    background: url("./assets/Continue_btn.png") no-repeat center center/contain;
    position: absolute;
    bottom: 1%;
    right: 16%;
    cursor: pointer;
}

.start-btn {
    height: 7vh;
    width: 20vw;
    background: url("./assets/start_btn.png") no-repeat center center/contain;
    position: absolute;
    bottom: 0%;
    left: 40%;
    cursor: pointer;
}

.stop-btn {
    height: 7vh;
    width: 20vw;
    background: url("./assets/stop_btn.png") no-repeat center center/contain;
    position: absolute;
    bottom: 0%;
    left: 40%;
    cursor: pointer;
}

.mic {
    height: 6vh;
    width: 6vw;
    position: absolute;
    bottom: 1%;
    left: 35%;
    cursor: pointer;
}

.next-button {
    height: 6vh;
    width: 10vw;
    background: url("./assets/next_btn.png") no-repeat center center/contain;
    position: absolute;
    bottom: 1%;
    right: 16%;
    cursor: pointer;
}

.prev-button {
    height: 6vh;
    width: 10vw;
    background: url("./assets/prev_btn.png") no-repeat center center/contain;
    position: absolute;
    bottom: 1%;
    left: 16%;
    cursor: pointer;
}

.title {
    position: absolute;
    top: 2%;
    margin: auto;
}
